Repository agladysh/or-q: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, tsc

.lefthook.yaml:

assert_lefthook_installed: true
pre-commit:
  parallel: true
  commands:
    prettier:
      run: pnpm exec prettier --check {staged_files} # We call prettier directly as package.json scripts feed . as path
    eslint:
      glob: '*.{js,cjs,mjs,ts,tsx,cts,mts,mts}'
      run: pnpm lint:eslint {staged_files}
    tsc:
      exclude:
        - 'eslint.config.mjs'
      glob: '*.{js,cjs,mjs,ts,tsx,cts,mts,mts}'
      run: pnpm lint:tsc {staged_files}

chore(lefthook): fixed some lefthook configuration
  .lefthook.yaml
Due: none

chore(tsconfig): incremental
  tsconfig.json
Due: none

chore(pnpm i): tsc-files
  package.json
  pnpm-lock.yaml
Due: none

chore(.lefthook): fixed tsc invocation
  .lefthook.yaml
Due: none

chore(eslint): unused _vars, CJS module support
  eslint.config.mjs
Due: eslint

feat(lib): package for plugin authors
  packages/lib/package.json
  packages/lib/src/index.ts
Due: eslint, tsc

feat(installed-node-modules): node module discovery with workspace support
  packages/installed-node-modules/package.json
  packages/installed-node-modules/src/index.cjs
  packages/installed-node-modules/src/index.d.ts
Due: eslint, tsc

chore(lefthook): tsc-files does not support js files
  .lefthook.yaml
Due: none

feat(plugin-jp): shell wrapper for JMSEPath's jp
  packages/plugin-jp/package.json
  packages/plugin-jp/src/index.ts
Due: eslint, tsc

feat(plugin-stdin): reading from process stdin
  packages/plugin-stdin/package.json
  packages/plugin-stdin/src/index.ts
Due: eslint, tsc

chore(tsconfig): fixed build
  tsconfig.json
Due: none

feat: working plugin loading and data flow
  packages/cli/package.json
  packages/cli/src/main.ts
  packages/core/package.json
  packages/core/src/index.ts
Due: eslint, tsc

chore(package.json): updated
  package.json
  pnpm-lock.yaml
Due: none

docs(TODO): updated
  TODO.md
Due: none

chore(lib): removed bogus comment
  packages/lib/src/index.ts
Due: eslint, tsc

chore(cli,lib): promoted readableToString to lib
  packages/cli/src/main.ts
  packages/lib/src/index.ts
Due: eslint, tsc

feat(plugin): format
  packages/plugin-format/package.json
  packages/plugin-format/src/index.ts
Due: eslint, tsc

feature(plugin): openrouter-api
  packages/plugin-openrouter-api/package.json
  packages/plugin-openrouter-api/src/index.ts
  packages/plugin-openrouter-api/src/models.ts
Due: eslint, tsc

chore(cli,core): refactored command runner to core from cli
  packages/cli/src/main.ts
  packages/core/src/index.ts
Due: eslint, tsc

feat(cli): static PluginRuntime.fromNodeModules
  packages/cli/src/main.ts
  packages/core/src/index.ts
Due: eslint, tsc

feat(plugins): yaml-script
  packages/plugin-yaml-script/package.json
  packages/plugin-yaml-script/src/index.ts
Due: eslint, tsc

feat(plugins) stdin plugin renamed to core, new commands added
  packages/plugin-core/package.json
  packages/plugin-core/src/index.ts
  packages/plugin-stdin/src/index.ts
Due: eslint, tsc

fix(cli): not printing empty input at the end
  packages/cli/src/main.ts
Due: eslint, tsc

feat(core,lib): IPluginRuntime promoted to lib, passing IPluginManager instance to command run
  packages/core/src/index.ts
  packages/lib/src/index.ts
Due: eslint, tsc

feat(eslint): forcing type imports
  eslint.config.mjs
Due: eslint

fix(pnpm fix): running prettier last
  package.json
Due: none

feat: YAML scripting support, revamped core plugin as well
  packages/core/src/index.ts
  packages/lib/package.json
  packages/lib/src/index.ts
  packages/plugin-core/src/index.ts
  packages/plugin-format/src/index.ts
  packages/plugin-jp/src/index.ts
  packages/plugin-openrouter-api/assets/scripts/stub.yaml
  packages/plugin-openrouter-api/package.json
  packages/plugin-openrouter-api/src/index.ts
  packages/plugin-yaml-script/src/index.ts
  pnpm-lock.yaml
Due: eslint, tsc

feat: shell plugin, free model scripts and core support
  package.json
  packages/lib/src/index.ts
  packages/plugin-core/src/index.ts
  packages/plugin-openrouter-api/assets/scripts/free-models-table.yaml
  packages/plugin-openrouter-api/assets/scripts/list-free-models-full.yaml
  packages/plugin-openrouter-api/assets/scripts/list-free-models.yaml
  packages/plugin-openrouter-api/assets/scripts/stub.yaml
  packages/plugin-shell/package.json
  packages/plugin-shell/src/index.ts
  pnpm-lock.yaml
Due: eslint, tsc

feat: funding
  .github/FUNDING.yml
Due: none

feat: loading .env
  .env.example
  .gitignore
  .prettierignore
  packages/cli/src/main.ts
Due: eslint, tsc

feat(core): clear
  packages/plugin-core/src/index.ts
Due: eslint, tsc

feat(plugins): store
  package.json
  packages/plugin-store/package.json
  packages/plugin-store/src/index.ts
  pnpm-lock.yaml
Due: eslint, tsc

feat(openrouter-api): completions endpoint, conversation commands
  packages/plugin-openrouter-api/src/completions.ts
  packages/plugin-openrouter-api/src/conversation.ts
  packages/plugin-openrouter-api/src/index.ts
  packages/plugin-openrouter-api/src/models.ts
Due: eslint, tsc
